<h2>Goal:</h2>

<p>Title: <%= @goal.title %></p>
<p>Details: <%= @goal.body %></p>
<p>Visibility: <%= @goal.confidential ? "Private" : "Public" %></p>
<p>Finished?: <%= @goal.status ? "Completed" : "Incomplete" %></p>
